.create-recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-height: fit-content;
  padding: 20px;
  border: none;
  border-radius: 10px;

  // button {
  //   padding: 10px 20px;
  //   font-size: 17px;
  //   border: none;
  //   border-radius: 8px;
  //   color: #fff;
  //   background: var(--primary-color);
  //   cursor: pointer;
  //   box-shadow: 0 0 10px rgb(132, 132, 132);
  //   transition: all 0.2s ease;
  //   margin-top: 10px;

  //   &:hover {
  //     background-color: #2C3345;
  //   }

  //   &:active {
  //     transform: scale(0.97);
  //     box-shadow: none;
  //   }
  // }

  .create-container {
    width: 100%;

    &-title {
      height: 70px;
      border-bottom: 2px solid rgb(198, 198, 198);
      color: rgb(88, 88, 88);
      box-sizing: border-box;
      padding: 20px 0;
      margin-bottom: 20px;

      h2 {
        text-align: center;
      }
    }

    &-form {
      display: flex;
      justify-content: center;

      form {
        width: 100%;

        ul li {
          list-style: none;
        }

        .form-line {
          width: 100%;
          min-height: 90px;
          padding: 10px 10px;
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
          border-radius: 5px;
          outline: 1px dashed rgb(234, 234, 234);

          .form-label {
            display: inline-block;
            text-align: left;
            color: var(--text-color);
            font-size: 18px;
            font-weight: 600;
            align-self: center;
          }

          .processing,
          .image {
            align-self: flex-start;
          }


          .form-input {
            width: 70%;

            input,
            textarea,
            select {
              border: 1px solid #ccc;
              border-radius: 5px;
              outline: none;
              font-family: 'Times New Roman', Times, serif;

              &:hover,
              &:focus {
                border-color: #2e69ff;
                box-shadow: 0 0 0 3px rgba(46, 105, 255, 0.25);
              }
            }

            input,
            select {
              width: 100%;
              height: 100%;
              padding: 0 10px;

              option {
                padding: 10px;
              }
            }

            textarea {
              width: 100%;
              min-height: 100px;
              padding: 10px 10px;
            }
          }

          .form-input {
            .ingredient-table {
              border: 1px solid #ccc;
              border-collapse: collapse;

              th,
              td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;

                input {
                  padding:5px 10px;
                  border-radius: 0;
                }
              }

              th {
                font-weight: 530;
                font-size: 15px;
                color: rgb(255, 255, 255);
              }

              td {
                font-size: 12px;
              }

              tfoot {
                background-color: #ccc;
              }

              thead, tbody, tfoot {
                display: block;
                max-height: 150px;
                overflow: auto;
                
                tr {
                  display: table;
                  width: 100%;
                  table-layout: fixed;
                }
              }

              thead {
                #ingredient-table-header {
                  background-color: var(--primary-color);
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
              }

              tbody {

                &::-webkit-scrollbar {
                  width: 3px;
                  background-color: #f5f5f5;
                }

                &::-webkit-scrollbar-thumb {
                  background-color: var(--primary-color);
                  border-radius: 2px;
                }

                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  background-color: #f5f5f5;
                }
              }

              button {
                padding: 5px 15px;
                outline: none;
                border: 1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--background-color);
                font-weight: 550;
                transition: all 50ms ease;
                min-width: 60px;

                &:hover {
                  background-color: var(--primary-color);
                  border-color: transparent;
                  color: white;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                }

                &:active {
                  transform: scale(0.95);
                  box-shadow: none;
                }
              }

              #btn-ingredient-remove {
                font-size: 20px;
                cursor: pointer;

                &:hover {
                  color: var(--primary-color);
                }
              }
            }
          }

          .step-container {
            span {
              display: inline-block;
              font-size: 15px;
              font-weight: 600;
              color: rgb(97, 97, 97);
              padding: 5px;
            }
          }

          .upload-image-container {
            .upload-image {
              height: 132px;
              border: 1px dashed #ccc;
              border-radius: 5px;
              outline: none;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-self: flex-end;
              font-weight: 600;
              cursor: pointer;
              color: var(--text-color);
              background-color: var(--background-color);

              :first-child {
                font-size: 14px;
                font-weight: 500;
                padding: 10px 0;
              }

              &:active {
                border: 1px solid rgb(105, 105, 105);
                box-shadow: 0 0 10px 3px rgba(46, 105, 255, 0.3)
              }

              &::before {
                content: "";
                // background: #ccc;
                background: url('../../imgs/np_upload_98319_16478E-768x768.png') no-repeat center center/cover;
                width: 50px;
                height: 30px;
                margin-top: 25px;
                margin-left: 44%;
                margin-bottom: 16px;

              }
            }

            .input-image-container {
              display: none;
            }

            .upload-list {
              margin-top: 10px;
              width: 100%;

              .image-container {
                height: 50px;
                line-height: 40px;
                font-size: 14px;
                font-weight: 500;
                display: flex;
                background-color: #DAE6FF;
                border-radius: 4px;
                padding: 8px 0 8px 8px;
                position: relative;
                justify-content: space-between;


                &-item {
                  height: 100%;
                  overflow: hidden;
                  border-radius: 2px;
                  outline: 2px solid rgb(169, 209, 255);
                  padding: 2px;
                  margin-right: 10px;

                  img {
                    width: 30px;
                    height: 30px;
                  }

                }

                .delete-icon {
                  // position: absolute;
                  // top: 0;
                  align-self: center;
                  height: 50px;
                  width: 8%;
                  right: -40px;
                  text-align: center;
                  background-color: #a2bfff;
                  padding-top: 10px;
                  box-sizing: border-box;
                  border-radius: 0 4px 4px 0;
                  cursor: pointer;

                  &:hover {
                    box-shadow: 0 0 10px rgba(94, 157, 230, 0.459);
                  }

                  &:active {
                    box-shadow: none;
                    transform: scale(0.97);
                    transition: transform 0.1s;
                  }


                  svg {
                    font-size: 20px;
                    color: rgb(0, 0, 0);
                  }
                }
              }


            }
          }

          #btn-add-ingredient {
            margin-top: 20px;
            height: 40px;
          }
        }

        .list-ingredients {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            font-weight: 600;
          }

          .list-tag {
            position: relative;
            width: 100%;
            min-height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            flex-wrap: wrap;
            background: #ffffff;
            border-radius: 10px;

            .ingredient-for-add-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              background: #d7d8df;
              margin-top: 20px;
              margin-right: 35px;
              margin-bottom: 10px;
              border-radius: 5px;
              width: fit-content;
              padding: 5px 10px;
              position: relative;

              span {
                /*padding: 5px;*/
                height: fit-content;
                color: #070707;
                font-size: 16px;
                opacity: 1;
              }
            }
          }

          ul {
            margin-top: 15px;
            margin-left: 15px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            li.ingredient-for-add-item {
              list-style: none;
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
              transition: transform 0.5s;

              span.index {
                text-align: center;
                height: 18px;
                width: 18px;
                padding: 2px;
                border-radius: 50%;
                background: #25bcff;
                display: block;
                margin-right: 10px;
                font-size: 13px;
                font-weight: 500;
              }
            }

            li.ingredient-for-add-item:hover {
              transform: scale(1.1);
              z-index: 100;
              background-color: #25bcff;
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

              span {
                color: #ffffff;
              }

              span.index {
                background: #ffffff;
                color: #25bcff;
              }
            }

            .btn-remove-tag {
              position: absolute;
              right: -15px;
              font-size: 12px;
              cursor: pointer;
              color: #ffffff;
            }
          }
        }

        .submit-button {
          height: 50px;
          text-align: center;
          line-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px 0;

          button {
            padding: 10px 25px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
            border: 1px solid #ccc;
            transition: all 50ms ease-out;

            &:hover {
              background-color: var(--primary-color);
              border: none;
              color: #fff;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .image-container .image-container-item span {
    display: none;
  }
}