.profile-container {
    
    .profile-header {
        display: flex;
        flex-direction: column;

        .profile-header-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .profile-link {
                padding: 10px 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
                color: var(--text-color);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &:hover {
                    // color: var(--primary-color);
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
                }

                .profile-icon{
                    margin-right: 10px;
                }
            }

            .active {
                color: var(--primary-color);
                font-weight: 600;
            }
        }
    }

    .profile-body {
        margin-top: 50px;
        border: 1px dashed #ccc;
        border-radius: 10px;
        padding: 20px;
        min-height: 500px;
    }

    .profile-body.information {
        padding: 50px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        justify-content: space-between;
        .profile-left {

            .profile-left-top {
                padding-bottom: 8px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 20px;

                h3 {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }

            .profile-left-bottom {
                label {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                }

                input[type="text"] {
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    outline-color: #0969DA;
                    color: #494949;
                    font-size: 12px;
                }

                dt {
                    margin-bottom: 10px;
                }

                dd {
                    margin: 10px 0 30px 30px;
                    border-left: 3px solid var(--primary-color);
                    padding-left: 20px;
                    // margin-bottom: 30px;
                    // margin-left: 30px;
                }

                dd>.validate-err {
                    font-size: 12px;
                    color: red;
                    // text-align: center;
                    margin-top: 3px;
                }

                .gender {
                    .gender-label {
                        display: inline-flex;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 400;
                        margin-right: 20px;
                        cursor: pointer;

                        input {
                            margin-right: 5px;
                        }
                    }
                }

                .birth-date {
                    p.birth-date-data {
                        font-size: 12px;
                        margin-bottom: 20px;
                        
                        span {
                            border: 1px solid #e4dddd;
                            padding: 5px;
                            margin-left: 5px;
                        }
                    }

                    button {
                        padding: 7px 8px;
                        outline: none;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 12px;
                        font-weight: 550;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            color: #fff;
                        }
                    }

                    input[type="date"] {
                        margin-left: 10px;
                        padding: 5px;
                        cursor: pointer;
                        outline-color: #0969DA;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }
                }

                .status {
                    p {
                        font-size: 12px;
                        margin-bottom: 10px;
                        span {
                            font-weight: 600;
                        }
                    }
                }
            }

            .update-profile-button {
                width: 100%;
                text-align: center;

                button {
                    padding: 5px 15px;
                    border-radius: 7px;
                    border: 1px solid #ccc;
                    font-weight: 550;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--primary-color);
                        border-color: var(--primary-color);
                        color: #fff;
                        box-shadow: 0 0 5px #0000005b;
                    }

                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }

        .profile-right {

            .profile-picture-title {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .profile-current-pic {
                margin-bottom: 20px;
                box-shadow: 0 0 2px 1px var(--primary-color);
                border-radius: 50%;
                overflow: hidden;
                width: 150px;
                height: 150px;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // height: 100px;
                }
            }

            .edit-profile-picture {
                position: relative;
                width: fit-content;

                .edit-picture-top {
                    width: 70px;
                    display: inline-flex;
                    justify-content: center;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    padding: 2px 10px;
                    vertical-align: middle;
                    position: relative;

                    &:hover, &:active {
                        background-color: var(--primary-color);
                        color: #fff;
                        border-color: var(--primary-color);
                    }
                }

                .edit-picture-bottom {
                    display: block;
                    position: absolute;
                    top: 35px;
                    left: -20px;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    padding: 5px 0;

                    .edit-picture-item {
                        cursor: pointer;
                        padding: 5px 15px;
                        font-size: 14px;
                        white-space: nowrap;
                        
                        &:hover {
                            background-color: #0969DA;
                            color: #fff;
                        }
                    }

                    .edit-picture-item-input {
                        display: none;
                    }
                }
            }
        }

        .avatar-update-confirm-popup {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: fixed;
            top: 0;
            left: 0;
            background: #8d8f9186;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            z-index: 1000;

            .avatar-update-confirm {
                border-radius: 7px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: 400px;
                height: 500px;
                margin-top: 50px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transform: translateY(0);
                opacity: 1;
                animation: dropdownAnimation .5s 1 alternate;

                button {
                    cursor: pointer;
                }

                .update-confirm-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 16px;
                    font-size: 14px;
                    font-weight: 550;
                    color: #24242f;
                    background-color: #f6f8fa;
                    border-bottom: 1px solid #D0D7DE;
                    border-radius: 6px 6px 0 0;

                    #close-popup-btn {
                        cursor: pointer;
                        font-size: 20px;

                        &:hover {
                            color: #0969DA;
                        }
                    }
                }

                .update-confirm-body {
                    padding: 16px;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;

                    img {
                        width: 100%;
                        height: 100%;
                        background-color: #57606a;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                .update-confirm-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 16px;
                    background-color: #f6f8fa;
                    border-top: 1px solid #D0D7DE;
                    border-radius: 0 0 6px 6px;

                    button.confirm-update {
                        background-color: #3284e3;
                        width: 100%;
                        padding: 12px 0;
                        font-size: 14px;
                        color: #ffffff;
                        border: none;
                        border-radius: 6px;
                        text-align: center;
                        gap: 8px;

                        &:hover {
                            background-color: #0969DA;
                        }
                    }
                }
            }
        }
    }

    .profile-body.account {
        padding: 50px;
        margin-bottom: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        hr {
            margin-top: 15px;
            border-top: 1px dashed #ccc;
        }
        
        .change-username {
            display: flex;
            flex-direction: column;
            min-height: 100px;
            justify-content: space-between;
            margin-bottom: 30px;

            &-top {
                user-select: none;
                font-size: 24px;
                line-height: 36px;
                font-weight: 500;
            }

            &-bottom {
                margin-top: 20px;
                padding-left: 30px;
                border-left: 3px solid var(--primary-color);

                p.change-username-warning {
                    font-size: 12px;
                    line-height: 18px;
                    color: #57606a;
                    margin-bottom: 20px;
                }

                .change-username-btn {
                    background-color: transparent;
                    color:#24292F;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 5px 16px;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    vertical-align: middle;
                    white-space: nowrap;
                    user-select: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover,  &:active {
                        background-color: var(--primary-color);
                        color: #fff;
                        border-color: var(--primary-color)
                    }
                }
            }
        }

        .change-password {
            min-height: 300px;

            &-top {
                user-select: none;
                font-size: 24px;
                line-height: 36px;
                font-weight: 500;
            }

            &-bottom {
                margin-top: 20px;
                padding-left: 30px;
                border-left: 3px solid var(--primary-color);

                .update-password-btn {
                    background-color: transparent;
                    color:#24292F;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 5px 16px;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    vertical-align: middle;
                    white-space: nowrap;
                    user-select: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover,  &:active {
                        background-color: var(--primary-color);
                        color: #fff;
                        border-color: var(--primary-color)
                    }
                }

                .password {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 60px;
                    margin-bottom: 20px;

                    input {
                        padding: 5px 12px;
                        width: 440px;
                        border: 1px solid #D0D7DE;
                        border-radius: 5px;
                        outline: none;

                        &:focus {
                            border: 2px solid #0969DA;
                        }
                    }

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        color : #24292F;
                    }
                }

                .change-password-note {
                    font-size: 12px;
                    line-height: 18px;
                    color: #57606a;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .profile-container {
        .profile-header {
            .profile-header-links {
                flex-direction: column;
                align-items: flex-start;
                 .profile-link {
                    // width: 250px;
                    margin-bottom: 15px;
                    text-align: left;
                    vertical-align: middle;
                 }
            }
        }
    }
}