.profile-container {
    .profile-header {
        display: flex;
        flex-direction: column;

        .profile-header-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .profile-link {
                padding: 10px 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
                color: var(--text-color);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;

                &:hover {
                    // color: var(--primary-color);
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                }

                .profile-icon {
                    margin-right: 10px;
                }
            }

            .active {
                color: var(--primary-color);
                font-weight: 600;
            }
        }
    }

    .profile-body {
        margin-top: 50px;
        border: 1px dashed #ccc;
        border-radius: 10px;
        padding: 0 50px 50px;
        min-height: 500px;

        .confirm_popup {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                "Open Sans", "Helvetica Neue", sans-serif;
            position: fixed;
            top: 0;
            left: 0;
            background: #8d8f9186;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            z-index: 1000;

            .confirm_wrapper {
                border-radius: 7px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: 450px;
                height: 180px;
                margin-top: 50px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transform: translateY(0);
                opacity: 1;
                animation: dropdownAnimation 0.5s 1 alternate;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
    
                .confirm_wrapper_top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    padding: 16px;
                    font-size: 14px;
                    font-weight: 550;
                    color: #24242f;
                    background-color: #f6f8fa;
                    border-bottom: 1px solid #d0d7de;
                    border-radius: 6px 6px 0 0;

                    p {
                        margin-left: 10px;
                        width: 90%;
                    }
    
                    #close-popup-btn {
                        cursor: pointer;
                        font-size: 20px;
    
                        &:hover {
                            color: #0969da;
                        }
                    }
    
                    .new-password {
                        color: #393939;
                    }
                }
    
                .confirm_wrapper_bottom {
                    height: 50%;
                    width: 100%;
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            button.confirm_wrapper_btn {
                background-color: #3284e3;
                width: 100%;
                padding: 12px 0;
                font-size: 14px;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                text-align: center;
                gap: 8px;
                cursor: pointer;

                &:hover {
                    background-color: #0969da;
                }
            }
        }
    }

    .profile-body.information {
        padding: 50px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
        display: flex;
        justify-content: space-between;
        .profile-left {
            .profile-left-top {
                padding-bottom: 8px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 20px;

                h3 {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 500;
                    user-select: none;
                }
            }

            .profile-left-bottom {
                label {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                }

                input[type="text"] {
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    outline-color: #0969da;
                    color: #494949;
                    font-size: 12px;
                }

                dt {
                    margin-bottom: 10px;
                }

                dd {
                    margin: 10px 0 30px 30px;
                    border-left: 3px solid var(--primary-color);
                    padding-left: 20px;
                    // margin-bottom: 30px;
                    // margin-left: 30px;
                }

                dd > .validate-err {
                    font-size: 12px;
                    color: red;
                    // text-align: center;
                    margin-top: 3px;
                }

                .gender {
                    .gender-label {
                        display: inline-flex;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 400;
                        margin-right: 20px;
                        cursor: pointer;

                        input {
                            margin-right: 5px;
                        }
                    }
                }

                .birth-date {
                    p.birth-date-data {
                        font-size: 12px;
                        margin-bottom: 20px;

                        span {
                            border: 1px solid #e4dddd;
                            padding: 5px;
                            margin-left: 5px;
                        }
                    }

                    button {
                        padding: 7px 8px;
                        outline: none;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 12px;
                        font-weight: 550;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                            color: #fff;
                        }
                    }

                    input[type="date"] {
                        margin-left: 10px;
                        padding: 5px;
                        cursor: pointer;
                        outline-color: #0969da;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }
                }

                .status,
                .point {
                    p {
                        font-size: 12px;
                        margin-bottom: 10px;
                        span {
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--primary-color);
                        }
                    }
                }
            }

            .update-profile-button {
                width: 100%;
                text-align: center;

                button {
                    padding: 5px 15px;
                    border-radius: 7px;
                    border: 1px solid #ccc;
                    font-weight: 550;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--primary-color);
                        border-color: var(--primary-color);
                        color: #fff;
                        box-shadow: 0 0 5px #0000005b;
                    }

                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }

        .profile-right {
            .profile-picture-title {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .profile-current-pic {
                margin-bottom: 20px;
                box-shadow: 0 0 2px 1px var(--primary-color);
                border-radius: 50%;
                overflow: hidden;
                width: 150px;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // height: 100px;
                }
            }

            .edit-profile-picture {
                position: relative;
                width: fit-content;

                .edit-picture-top {
                    width: 70px;
                    display: inline-flex;
                    justify-content: center;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    padding: 2px 10px;
                    vertical-align: middle;
                    position: relative;

                    &:hover,
                    &:active {
                        background-color: var(--primary-color);
                        color: #fff;
                        border-color: var(--primary-color);
                    }
                }

                .edit-picture-bottom {
                    display: block;
                    position: absolute;
                    top: 35px;
                    left: -20px;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    padding: 5px 0;

                    .edit-picture-item {
                        cursor: pointer;
                        padding: 5px 15px;
                        font-size: 14px;
                        white-space: nowrap;

                        &:hover {
                            background-color: #0969da;
                            color: #fff;
                        }
                    }

                    .edit-picture-item-input {
                        display: none;
                    }
                }
            }
        }

        .confirm_popup {
            .avatar-update,
            .avatar-delete {
                border-radius: 7px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: 400px;
                height: 500px;
                margin-top: 50px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transform: translateY(0);
                opacity: 1;
                animation: dropdownAnimation 0.5s 1 alternate;

                button {
                    cursor: pointer;
                }

                .confirm-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 16px;
                    font-size: 14px;
                    font-weight: 550;
                    color: #24242f;
                    background-color: #f6f8fa;
                    border-bottom: 1px solid #d0d7de;
                    border-radius: 6px 6px 0 0;

                    #close-popup-btn {
                        cursor: pointer;
                        font-size: 20px;

                        &:hover {
                            color: #0969da;
                        }
                    }
                }

                .confirm-body {
                    padding: 16px;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;

                    img {
                        width: 100%;
                        height: 100%;
                        background-color: #57606a;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                .confirm-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 16px;
                    background-color: #f6f8fa;
                    border-top: 1px solid #d0d7de;
                    border-radius: 0 0 6px 6px;
                }
            }
            .avatar-delete {
                height: 50px;
            }
        }
    }

    .profile-body.account {
        padding: 50px;
        margin-bottom: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;

        .change-password {
            min-height: 300px;

            &-top {
                border-bottom: 1px solid #ccc;
                padding-bottom: 8px;

                h3 {
                    user-select: none;
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 500;
                }
            }

            &-bottom {
                margin-top: 20px;
                padding-left: 30px;
                border-left: 3px solid var(--primary-color);

                .update-password-btn {
                    background-color: transparent;
                    color: #24292f;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 5px 16px;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    vertical-align: middle;
                    white-space: nowrap;
                    user-select: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover,
                    &:active {
                        background-color: var(--primary-color);
                        color: #fff;
                        border-color: var(--primary-color);
                    }
                }

                .password {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 60px;
                    margin-bottom: 20px;

                    input {
                        padding: 5px 12px;
                        width: 440px;
                        border: 1px solid #d0d7de;
                        border-radius: 5px;
                        outline: none;

                        &:focus {
                            border: 2px solid #0969da;
                        }
                    }

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        color: #24292f;
                    }
                }

                .change-password-note {
                    font-size: 12px;
                    line-height: 18px;
                    color: #57606a;
                    margin-bottom: 20px;
                }

                .password > label {
                    margin-bottom: 5px;
                    color: var(--text-color);
                }

                .password > .error-message {
                    font-size: 12px;
                    color: rgb(212, 0, 0);
                    margin-top: 5px;
                }

                .confirm-new-password {
                    margin-bottom: 15px;
                }

                .show-password {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    input,
                    label {
                        cursor: pointer;
                    }

                    label {
                        font-size: 12px;
                        margin-left: 6px;
                        align-self: center;
                        font-weight: 550;
                        color: var(--text-color);
                        user-select: none;
                    }
                }
            }
        }

        // .confirm_popup .password-update {
        //     // padding: 30px 40px;
        //     border-radius: 7px;
        //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        //     width: 400px;
        //     height: 180px;
        //     margin-top: 50px;
        //     background-color: #ffffff;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     align-items: center;
        //     transform: translateY(0);
        //     opacity: 1;
        //     animation: dropdownAnimation 0.5s 1 alternate;
        //     font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        //         "Open Sans", "Helvetica Neue", sans-serif;

        //     .password-update-top {
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         width: 100%;
        //         height: 50%;
        //         padding: 16px;
        //         font-size: 14px;
        //         font-weight: 550;
        //         color: #24242f;
        //         background-color: #f6f8fa;
        //         border-bottom: 1px solid #d0d7de;
        //         border-radius: 6px 6px 0 0;

        //         #close-popup-btn {
        //             cursor: pointer;
        //             font-size: 20px;

        //             &:hover {
        //                 color: #0969da;
        //             }
        //         }

        //         .new-password {
        //             color: #393939;
        //         }
        //     }

        //     .password-update-bottom {
        //         height: 50%;
        //         width: 100%;
        //         padding: 0 30px;
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //     }
        // }
    }

    .profile-body.recipes-management {
        min-height: 300px;

        div.recipe-image {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 50%;
                height: 100%;
                border: 2px solid #ccc;
                border-radius: 5px;
            }
        }

        span.row-recipe-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            text-align: center;
            transition: all 0.1s linear;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #ccc;
                box-shadow: 0 0 5px 5px rgba(103, 103, 103, 0.3) inset;
                svg {
                    color: var(--text-color);
                }
            }
        }

        span.row-recipe-name {
            text-overflow: ellipsis;
        }

        .recipes-manage-top {
            margin-bottom: 20px;
            padding-top: 50px;
            border-bottom: 1px solid #ccc;

            h3 {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                user-select: none;
                padding-bottom: 8px;
            }
        }

        .confirm_popup.recipe-update{
            .confirm_popup_wrapper{
                margin: 80px 320px;
                width: 900px;
                height: 600px;
                background-color: #fff;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                animation: dropdownAnimation 0.5s 1 alternate;


                .confirm_popup_header {
                    width: 100%;
                    height: 60px;
                    padding: 0 21px;
                    border-radius: 5px 5px 0 0;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        font-weight: 500;
                        line-height: 26px;
                        font-size: 20px;
                    }

                    .btn-close-popup{
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: #ccc;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
                        }
                    }
                }

                .confirm_popup_body {
                    width: 100%;
                    height: calc(100% - 60px * 2);
                    padding: 21px;
                    display: flex;
                    flex-direction: row;
                    background-color: #ebebeb;

                    .image-update{
                        margin-right: 30px;
                        height: 100%;
                        background-color: #ebebeb;
                        position: relative;
                        text-align: center;
                        
                        &>div {
                            overflow: hidden;
                            border: 3px solid #ccc;
                            width: 300px;
                            height: 80%;
                            margin-bottom: 20px;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .update-recipe-image {
                            font-weight: 550;
                            // position: absolute;
                            left: 20px;
                            bottom : 100px;
                            padding: 10px 100px;
                            border: none;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba($color: #6a6a6a, $alpha: 0.5);
                            cursor: pointer;
                            transition: all 50ms linear;

                            &:hover {
                                background-color: var(--primary-color);
                                color: #fff;
                                box-shadow: 0 5px 10px rgba($color: #ffffff, $alpha: 1);
                            }

                            &:active {
                                background-color: var(--primary-color);
                                color: #fff;
                                box-shadow: none;
                                transform: translateY(4px);
                            }
                        }

                        input {
                            display: none;
                        }
                    }

                    div#update-recipe-form {
                        width: 100%;
                        min-height: 100%;
                        overflow-y: scroll;
                        background-color: #ffffff;

                        .form-input{
                            display: flex;
                            flex-direction: column;

                            .text-div {
                                padding: 15px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                background-color: #ccc;
                                position: relative;

                                label {
                                    padding-bottom:10px;
                                    font-size: 15px;
                                    font-weight: 550;
                                    color: #707070;
                                }

                                input, textarea {
                                    padding: 20px 10px;
                                    outline: none;
                                    border-radius: 5px;
                                    border: none;
                                    font-family: 'Times New Roman', Times, serif;
                                    &:focus {
                                        outline: 1px solid var(--primary-color);
                                    }
                                }

                                textarea {
                                    font-feature-settings: normal;
                                    font-style: normal;
                                    line-break: auto;
                                    overflow-wrap: normal;
                                    transition-property: color, background, border;
                                    transition-duration: 200ms;
                                    transition-timing-function: ease-in;
                                    background-color: rgb(255, 255, 255);
                                    color: rgb(117, 117, 117);
                                    max-width: 100%;
                                    resize: none;
                                    overflow: auto;
                                    min-height: 200px;
                                }

                                .error-btn{
                                    position: absolute;
                                    top: 50px;
                                    right: 25px;
                                    color: red;
                                }
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 9px;
                            background-color: #e7e7e7;
                        }
    
                        &::-webkit-scrollbar-thumb {
                            background-color: #ababab;
                        }
                    }
                }

                .confirm_popup_footer{
                    width: 100%;
                    height: 60px;
                    padding: 0 21px;
                    border-radius: 0 0 5px 5px;
                    border-top: 1px solid #ccc;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;


                    button.confirm-update-recipe{
                        padding: 8px 25px;
                        border-radius: 6px;
                        border: none;
                        outline: none;
                        font-weight: 550;
                        cursor: pointer;
                        background-color: var(--primary-color);
                        color: #fff;

                        &:hover {
                            background-color: #ffffff;
                            outline: 1px solid #ccc;
                            color: #000000;
                            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
                        }

                        &:active{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.MuiTableHead-root > tr.MuiTableRow-head {
    th {
        background-color: #ccc;
        color: var(--text-color);
        font-weight: 550;
    }
}

.MuiPaper-root {
    th,
    td {
        user-select: none;
    }
}

.css-1q1u3t4-MuiTableRow-root:hover {
    background-color: #eeeeee;
}

@media screen and (max-width: 1140px) {
    .profile-container {
        .profile-header {
            .profile-header-links {
                flex-direction: column;
                align-items: flex-start;
                .profile-link {
                    // width: 250px;
                    margin-bottom: 15px;
                    text-align: left;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    
    .profile-container {
        .profile-body.recipes-management {
            .confirm_popup.recipe-update {
                .confirm_popup_wrapper {

                    margin: 80px 50px;
                    // min-height: 900px;

                    .confirm_popup_body {
                        display: flex;
                        flex-direction: column;
                        background-color: #ebebeb;
                        overflow-x: clip;
                        overflow-y: scroll;
                       

                        &::-webkit-scrollbar {
                            width: 5px;
                            background-color: #ccc;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #8d8d8d;
                            border-radius: 5px;
                        }

                        .image-update{
                            width: 100%;
                            margin-right: 0;
                            div {
                                width: 100%;
                            }
                        }
                        
                        div#update-recipe-form{
                            overflow-y: visible;

                            .form-input {
                                .text-div{
                                    textarea {

                                        height: fit-content;


                                        &::-webkit-scrollbar {
                                            width: 5px;
                                            background-color: #ffffff;
                                        }

                                        &::-webkit-scrollbar-thumb {
                                            background-color: var(--primary-color);
                                        }
                                    }   
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}