.recipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}
.recipe-card{
    isolation: isolate;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    background-color: var(--background-color);
    .recipe-card-info{
        padding: 15px;
    }
    .custom-image-card{
        position: relative;
        overflow: hidden;
        height: 170px;
        width: 100%;
        z-index: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all .1s linear;
        }

        div.darken {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.1) 100%);
            z-index: 10;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            div.darken {
                background: transparent;
            }
        }
    }
    .auther-img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 100;
        position: relative;
    }
    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .recipe-desc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px
    }
    .view-btn{
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block;
    }
}

.show-more {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .btn-show-more {
        background-color: var(--primary-color);
        color: #fff;
        padding: 15px 25px;
        border: none;
        outline: none;
        border-radius: 10px;
        // box-shadow: 0 4px 10px var(--shadow-color);
        font-size: 1em;
        font-weight: 550;
        transition: all .2s linear;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 10px var(--shadow-color-2);
        }

        &:active {
            transform: scale(0.98);
            box-shadow: none;
        }
    }
}


.no-recipe {
    margin-top:20px;
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #ccc;
    border-radius: 10px;
    user-select: none;
    font-size: 15px;
    color: var(--text-color);
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    gap: 5px;
    margin-top: 60px;

    li {
        margin: 0 3px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        outline: 1px solid #ccc;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: var(--primary-color);
            border-radius: 10px;
            outline: none;

            a.page-num {
                color: #fff;
            }
        }
    }

    li>a.page-num {
        padding: 8px 15px;
        cursor: pointer;
        font-weight: 400;
        text-decoration: none;
        color: var(--text-color);
        background: transparent;
        user-select: none;
    }

    li.active {
        width: fit-content;
        background: var(--primary-color);
        outline: none;

        a.page-num {
            color: #fff;
        }
    }
}