.recipe-detail-container {
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;


        .recipe-info{
            .recipe-name{
                // font-family: SourceSerif;
                font-family: 'Montez';
                // font-family: 'Cormorant Garamond', serif;
                white-space: pre-wrap;
                // color:var(--text-color-2);
                color: var(--primary-color);
                // display: inline;
                font-size: 30px;
                font-weight: 700;
                word-spacing: 0px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .author {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 30px auto;
            height: 125px;
            width: 100%;

            .author-name {
                font-family:  'Times New Roman', Times, serif;
                font-size: 11px;
                line-height: 15px;
                text-align: center;
                word-spacing: 0;
                color: var(--text-color-3);
            }
            .author-avatar {
                overflow: hidden;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                box-shadow: 0 0 2px 1px var(--primary-color);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .recipe-create-date {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 11px;
                line-height: 15px;
                text-align: center;
                word-spacing: 0;
                color: var(--text-color-3);
            }
        }

        .number-of-voting{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px;
        }

        .recipe-image {
            overflow: hidden;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            // border: 20px solid var(--primary-color);
            
        }
    }
    .recipe-detail {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3.h3-title {
            // font-family: SourceSerif;
            font-family: 'Dancing Script', cursive;
            font-size: 30px;
            margin-top: 20px;
            padding: 5px 0;
            height: fit-content;
            color: var(--text-color);

            span {
                color: var(--primary-color);
            }
        }

        p.p-content-detail {
            white-space: pre-line;
            // font-family: 'Times New Roman', Times, serif;
            // font-family: 'Cormorant Garamond', serif;
            font-family: 'Spectral', serif;
            font-weight: 400;
            font-style: italic;
            font-size: 18px;
            line-height: 25px;
            color: var(--text-color-3);
            padding-left: 10px;
            
        }

    }
    .voting {
        border: 2px solid rgb(226, 221, 204);
        border-left: none;
        border-right: none;
        padding-bottom: 2rem;
        padding-top: 2rem;
        margin: 2rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .average-star {
            font-family: 'Dancing Script', cursive;
            text-transform: none;
            font-feature-settings: normal;
            font-style: normal;
            letter-spacing: normal;
            line-break: auto;
            line-height: 1.69em;
            font-size: 20px;
            font-weight: 700;
            overflow-wrap: normal;
            color: #000;
            background-color: rgb(201, 201, 201);
            padding: 10px 0;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        P.voting-text {
            font-family: 'Dancing Script', cursive;
            text-transform: none;
            font-feature-settings: normal;
            font-style: normal;
            letter-spacing: normal;
            line-break: auto;
            line-height: 1.69em;
            font-size: 20px;
            font-weight: 700;
            overflow-wrap: normal;
            color: var(--text-color)
        }

        .voting-action {
            .stars{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 20px;
            }
        }

        .submit-voting {
            font-weight: 550;
            letter-spacing: 2px;
            color: rgb(255, 255, 255);
            border: none;
            background-color: rgb(201, 201, 201);
            padding: 16px;
            pointer-events: none;
            user-select: none;

            &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
    
            &:active {
                box-shadow: none;
            }
        }

        .submit-voting.active{
            pointer-events: all;
            cursor: pointer;
            background-color: #333333;
        }
    }
    .reviews {
        
        .form-reviews{
            display: flex;
            flex-direction: column;

            p.input-label{
                font-family: 'Dancing Script', cursive;
                text-transform: none;
                font-weight: 600;
                font-size: 30px;
                font-style: normal;
                letter-spacing: normal;
                line-break: auto;
                overflow-wrap: normal;
                line-height: 1.4em;
                margin-bottom: 20px;
                color: var(--text-color);
                user-select: none;
            }
            button.submit-comment {
                font-weight: 550;
                letter-spacing: 2px;
                color: rgb(255, 255, 255);
                border: none;
                background-color: rgb(201, 201, 201);
                padding: 16px;
                pointer-events: none;
                user-select: none;

                &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                }

                &:active {
                    box-shadow: none;
                }
            }
        }

        .reviews-list {
            margin-top: 2rem;
            padding: 2rem 0;
            border: 2px solid rgb(226, 221, 204);
            border-left: none;
            border-right: none;
            box-sizing: border-box;
            min-height: fit-content;

            .reviews-list-head{
                font-family: 'Dancing Script', cursive;
                display: flex;
                justify-content: space-between;
                color: var(--text-color);

                h2 {
                    font-size: 30px;
                    user-select: none;
                }

                a.back-to-top {
                    display: flex;
                    color: var(--text-color);
                    align-items: center;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .reviews-list-body{
                margin-top: 1rem;

                ul li {
                    list-style: none;
                }

                li.review-item {
                    p.review-content{
                        font-family: Georgia, helvetica, 'Times New Roman', Times, serif;
                        font-feature-settings: normal;
                        font-size: 15px;
                        font-weight: 400;
                        overflow-wrap: normal;
                        letter-spacing: normal;
                        font-style: normal;
                        line-height: 1.47em;
                        line-break: auto;
                        text-transform: none;
                        color: var(--text-color);
                    }
    
                    ul.review-item-info{
                        display: flex;
                        flex-direction: row;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px 0;
                        width: 100%;
    
                        li.item-info{                        
                            p {
                                font-family: 'Grenze', serif;
                                font-weight: 600;
                                color: var(--text-color-3);
                                user-select: none;
                            }
                        }
    
                        li.item-info~li{
    
                            p::before{
                                margin: 0px 0.5rem;
                                content: '·';
                            }
                        }
    
    
                        li.item-info.avatar{
                            overflow: hidden;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            box-shadow: 0 0 5px rgba(141, 132, 132, 0.5);
    
                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                background-color: #fff;
                            }
                        }

                        li.item-info.update-review {
                            display: inline;
                            margin-left: 20px;
                            cursor: pointer;

                            p {
                                display: inline;
                            }

                            p:before {
                                content: "";
                            }
                            p:hover {
                                text-decoration: underline;
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                li.review-item ~ li {
                    border-width: 1px 0 0;
                    border-style: solid;
                    border-color: rgb(226, 221, 204);
                    margin-top: 1.5rem;
                    padding-top: 1.5rem;
                }
                
            }
        }

        .reviews-list.Other {
            border-top: none;
            
            a.back-to-top {
                display: none;
            }
        }

        .confirm_popup{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: fixed;
            top: 0;
            left: 0;
            background: #8d8f9186;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            z-index: 1000;

            .review-update {
                border-radius: 7px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: 500px;
                height: 350px;
                margin-top: 50px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transform: translateY(0);
                opacity: 1;
                animation: dropdownAnimation .5s 1 alternate;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                .update-confirm-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    padding: 30px;
                    font-size: 14px;
                    font-weight: 550;
                    color: #24242f;
                    background-color: #f6f8fa;
                    border-bottom: 1px solid #D0D7DE;
                    border-radius: 6px 6px 0 0;

                    #close-popup-btn {
                        cursor: pointer;
                        font-size: 20px;

                        &:hover {
                            color: #0969DA;
                        }
                    }

                    .new-password {
                        color: #393939;
                    }
                }
                .update-confirm-body {
                    width: 100%;
                    height: 50%;
                    padding: 30px;

                    textarea#input-review {
                        width: 100%;
                    }
                }
                .update-confirm-footer {
                    height: calc(100% - 50% - 50px);
                    width: 100%;
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .confirm-update {
                        background-color: #3284e3;
                        width: 100%;
                        padding: 12px 0;
                        font-size: 14px;
                        color: #ffffff;
                        border: none;
                        border-radius: 6px;
                        text-align: center;
                        gap: 8px;
                        cursor: pointer;

                        &:hover {
                            background-color: #0969DA;
                        }
                    }
                }
            }
        }
    }
    textarea {
        // font-family: Renner, helvetica, sans-serif;
        border: 1px solid rgb(201, 201, 201);;
        outline: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-feature-settings: normal;
        font-style: normal;
        letter-spacing: normal;
        line-break: auto;
        line-height: 1.42em;
        font-size: 12px;
        font-weight: 400;
        overflow-wrap: normal;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0.75rem;
        width: 100%;
        text-transform: none;
        transition-property: color, background, border;
        transition-duration: 200ms;
        transition-timing-function: ease-in;
        background-color: rgb(255, 255, 255);
        color: rgb(117, 117, 117);
        max-width: 100%;
        resize: none;
        height: 9.5rem;
        overflow: auto;

        &:focus {
            border: 1px solid rgb(51, 51, 51);
        }
    }
}

.horizontal-line {
    color: var(--text-color-3);
}